.about h1 {
  margin: 1vh 0 -2vh 6%;
}

.about section article img {
  width: 50%;
  margin: 2vh 0;
}

.about .about-services * {
  margin: 2vh 0;
}

.about .about-services li {
  list-style-type: initial;
  font-family: $font2;
}
