@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@200&display=swap');

// main colour vars
$primaryColor: red;
$secondayColor: #222;

// text colour vars
$primaryTextColor: #222;
$secondaryTextColor: #fff;

// font vars
$font1: 'Inter', sans-serif;
$font2: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  font-family: $font2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

@import 'nav';
@import '_home';
@import '_about';
@import '_contact';
@import 'blogIndex';
@import '_blogPostPage';
@import 'footer';

section {
  margin: 2vh 0;
  width: 88%;
  margin: 2vh auto;
  padding: 2rem 0;
}

.pageTitle {
  margin-left: 6%;
}
